.highlight {
    font-weight: bold;
}

.main {
    background-color: #BFDBFF;

}
.wrp{
    overflow-wrap: break-word;
}
.contact {
    padding: 20px;
}

.center1 {
    @media screen and (max-width:800px) {
        text-align: center;

    }
}
.contact1{
    @media screen and (max-width:576px) {
        // text-align: center;
        padding-bottom: 20px;

    }
}
.contactus{
    @media screen and (max-width:1024px) {
        // text-align: center;
        padding-bottom: 20px;

    }
  
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 0;

    @media screen and (max-width:320px) {
        text-align: center;

    }
}

ul li {
    list-style-type: none;
}