* {
    font-family: 'Rubik';
}

.home {
    position: relative;
    height: 900px;

    @media screen and (max-width:992px) {
        position: relative;
        height: 500px
    }
}

.Asset1 {
    position: absolute;
    left: 0px;
    top: 0px;

    @media screen and (max-width:992px) {
        position: absolute;
        left: 0px;
        top: 0px;
    }

    @media screen and (max-width:576px) {
        position: absolute;
        left: 0px;
        top: 0px;
        max-width: 100px !important;
    }

}


.Asset2 {
    position: absolute;
    right: 0px;
    top: 0px;

    @media screen and (max-width:992px) {
        position: absolute;
        right: 0px;
        top: 0px;
        max-width: 180px;
    }

    @media screen and (max-width:576px) {
        position: absolute;
        right: 0px;
        top: 0px;
        max-width: 170px !important;
    }
}


.Asset3 {
    position: absolute;
    left: 0;
    bottom: 0;


    @media screen and (max-width:992px) {
        position: absolute;
        left: 0;
        bottom: 0;
        max-width: 130px !important;
    }

    @media screen and (max-width:576px) {
        position: absolute;
        left: 0;
        bottom: 0;
        max-width: 120px !important;
    }
}

.Asset4 {
    position: absolute;
    right: 0;
    bottom: 0;
    // @media screen and (min-width:300px) and (max-width:570px) {
    //     position: absolute;
    //     right: 0;
    //     max-width: 50px!important;
    //     bottom: 0;
    // }

    @media screen and (max-width:992px) {
        position: absolute;
        right: 0;
        max-width: 130px !important;
        bottom: 0;
    }

    @media screen and (max-width:576px) {
        position: absolute;
        right: 0;
        max-width: 100px !important;
        bottom: 0;
    }
}

.ManwithSpeaker {
    position: absolute;
    bottom: 0;
    z-index: 1;

    @media screen and (max-width:992px) {
        position: absolute;
        bottom: 0;
        z-index: 1;
        max-width: 250px !important;
    }

    @media screen and (max-width:576px) {
        position: absolute;
        bottom: 0;
        z-index: 1;
        max-width: 250px !important;
    }

    @media screen and (max-width:300px) {
        position: absolute;
        bottom: 0;
        z-index: 1;
        max-width: 200px !important;
    }
}

.cloud {
    position: absolute;
    bottom: 0;

    @media screen and (max-width:992px) {
        position: absolute;
        bottom: 0;
        max-width: 450px !important;

    }

    @media screen and (max-width:576px) {
        position: absolute;

        bottom: 0;
        max-width: 300px !important;

    }

}

.text {
    position: absolute;
    right: 80px;
    top: 247px;
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


    @media screen and (max-width:992px) {
        // position: relative !important;
        right: 0px !important;
        top: 130px !important;
        text-align: center;
        width: 300px;


    }

    @media screen and (max-width:576px) {
        // position: relative !important;
        right: 0 !important;
        top: 180px !important;
        text-align: center;
        width: 200px;

        h3 {
            font-size: 20px;

        }

        p {
            font-size: 14px;
        }

    }

}

.text h3 {
    font-style: normal;
    font-weight: bolder;
    font-size: 56px;
    line-height: 66px;

    @media screen and (max-width:992px) {
        font-size: 30px;
        line-height: 36px;
        font-weight: bolder;
    }


    @media screen and (max-width:576px) {
        font-size: 20px;
        line-height: 36px;
        font-weight: bolder;
    }

   

}

.text p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    @media screen and (max-width:992px) {
        font-size: 14px;
    }

    @media screen and (max-width:576px) {
        font-size: 14px;
    }


}