* {
    box-sizing: border-box;
    margin: 0%;
}

.logo {

    left: 130px;
    top: 10px;

    @media screen and (max-width:576px) {
        max-width: 200px;

    }

}

.index {
    z-index: 1;
}

.background {

    background-color: white;
    color: black;
    z-index: -1;
}