* {
    box-sizing: border-box;
    margin: 0%;
}

.logo {

    left: 130px;
    top: 10px;

    @media screen and (max-width:576px) {
        max-width: 200px;

    }

}
.bolder{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.index {
    z-index: 1;
}

.background {
    background-color: transparent;
    @media screen and (max-width:992px) {
        background-image: linear-gradient(to top right,white,white, #dcb8ff);
        border-radius: 10px;
        color: black;
        z-index: -1;

    }
    
}