*{
    font-family: 'Rubik';
}
.services{
    position: relative;
}
.Asset5{
    width:200px;
    position: absolute;
left:0;
top:0;
}

.img1{
position: absolute;
width: 454px;
height: 375px;
// left: 902px;
// top: 1694px;
}
// .section{
//     margin:20px;
// }