* {
    font-family: 'Rubik';
}

.services {
    position: relative;
    margin: 30px;

}

.rev {
    @media screen and (max-width:767px) {
        display: flex;
        flex-direction: column-reverse;
    }
}

.head {
    font-weight: bold;
    text-align: center;
}

.right {
    text-align: right;

    @media screen and (max-width:767px) {
        text-align: center;
    }
}

.left {
    text-align: left;

    @media screen and (max-width:767px) {
        text-align: center;
    }
}

.bold {
    font-weight: 1000;
}

.img1 {
    position: absolute;
    width: 454px;
    height: 375px;

}

.Asset51 {
    position: absolute;
    top: -60px;
    left: 0;
    width: 185px;
    z-index: -1;

    @media screen and (max-width:480px) {
        z-index: -1;
        width: 155px;
    }
}

.Asset61 {
    position: absolute;
    right: 0px;
    top: 300px;
    width: 130px;
    z-index: -1;
    @media screen and (max-width:480px) {
        z-index: -1;
        width: 100px !important;
    }
}

.Asset71 {
    position: absolute;
    left: 0px;
    top: 630px;
    width: 115px;
    z-index: -1;
    @media screen and (max-width:480px) {
        z-index: -1;
        width: 100px;

    }
}

.Asset82 {
    position: absolute;
    right: 0px;
    top: 900px;
    width: 140px;
    z-index: -1;
    @media screen and (max-width:480px) {
        z-index: -1;
        width: 100px;

    }
}